.canvas-area {
  --top-bar-height: 38px;
  --top-tab-width: 108px;
  --side-bar-width: 300px;
  --card-width: 108px;
  --drop-down-max-height: 350px;
  --scroll-margin-width: 1px;
  --scroll-margin-height: 2px; 

  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - var(--header-height) - 2px);
  overflow: hidden;

  .side-bar-1 {
    width: var(--side-bar-width);
    height: 100vh;
    overflow: hidden;

    .side-bar-c-1 {
      height: calc(100vh - calc(var(--header-height) + var(--header-mb) + 5px));
      overflow: auto;
    }

    .card {
      /* width: var(--card-width); */
      overflow: hidden;

      .card-img-top {
        /* width: 70px; */
        height: 70px;
        overflow: hidden;
      }
      .card-body {
        overflow: hidden;
        .card-title {
          overflow: hidden;
          /* max-width: 90px; */
        }
        .card-text {
          overflow: hidden;
          max-height: 50px;
          overflow: auto;
        }
      }
    }
  }
  .top-bar-1 {
    height: var(--top-bar-height);
    background-color: var(--bg-color-body);
    align-content: end;
    .tabs-1 {
      display: flex;
      column-gap: 1px;

      .tab {
        border: 1px solid;
        background-color: var(--bg-color-box);
        margin: 0px;
        display: flex;
        align-items: center;
        background-color: var(--bs-secondary-bg-subtle);
        border-radius: 8px 8px 0 0;
        height: calc(var(--top-bar-height) - 2px);
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-bottom: none;100
        box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.05);
        &.active {
          background-color: var(--bg-color-box);
          border: 1px solid var(--bs-primary);
          border-bottom: 1px solid var(--bg-color-box);
        }
        &:hover {
          background-color: var(--bs-primary-border-subtle);
          cursor: pointer;
        }
        &.action {
          border: 1px solid #ccc !important;
          border-radius: 8px !important;
          /* background-color: transparent;       */
        }
        .tab-1 {
          width: var(--top-tab-width);
          padding-left: 5px;
          padding-right: 5px;
          text-align: start;
          white-space: nowrap;
        }
        & .tab-1-text {
          width: calc(var(--top-tab-width) + 16px);
        }
      }

      .dropdown-menu {
        max-height: var(--drop-down-max-height);
        overflow: auto;
        min-width: 145px;
        padding: 5px;
      }
    }
  }
  .main-area {
    display: block;
    background-color: var(--bg-color-body);
    overflow: hidden;100
    width: 100%;
    height: 100vh;
    .layer-1 {
      --canvas-offset: 1rem;
      background-color: var(--bg-color-box);
      border: 1px solid #ccc;
      border-top: none;

      width: calc(100% - var(--scroll-margin-width));
      height: calc(100% - var(--scroll-margin-height));
       
      /* scrollbar */
      position: relative;
      overflow: hidden;

      .area-design-scrollbar {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: #f4f5f8;
        opacity: 0.9;
        z-index: 12;
      }
      .area-design-scrollbar.horizontal {
        right: var(--canvas-offset);
        overflow-x: scroll;
        overflow-y: hidden;
      }
      .area-design-scrollbar.horizontal > div {
        height: 1px;
        background: #ddd;
      }
      .area-design-scrollbar.vertical {
        bottom: var(--canvas-offset);
        overflow-x: hidden;
        overflow-y: scroll;
      }
      .area-design-scrollbar.vertical > div {
        width: 1px;
        background: #ddd;
      }
      /* scrollbar */
    }
  }

  .btn {
    box-shadow: none !important;
    border: none !important;
  }
}
